@import "tailwindcss";

:root {
  color-scheme: light dark;
}

html,
body,
#root {
  min-height: 100vh;
  margin: 0;
}

body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
